:root{
  --black: #1B233D;
  --main: #0093FF;
  --white: #FFFFFF;
}

@font-face {
  font-family: 'DMSans-VariableFont_opsz,wght';
  src: url(../fonts/DMSans-VariableFont_opsz\,wght.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'All-Round-Gothic-W01-Bold';
  src: url(../fonts/All-Round-Gothic-W01-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700;
}

.container{
  max-width: 1470px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body{
  font-family: 'DMSans-VariableFont_opsz,wght';
  color: var(--black);
  font-weight: 400;
  line-height: 160%;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
}
.modal{
  display: none;
}
.burger-menu{
  display: none;
  width: 24px;
  height: 24px;
  background-image: url(../images/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu__list{
  display: flex;
  align-items: center;
  gap: 70px;
  margin-left: 27px;
}
.menu__link:hover{
  color: var(--main);
}
.logo{
  height: 39px;
}
.install-btn{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px;
  border: 1px solid rgba(27, 35, 61, 0.1);
  border-radius: 12px; transition: 0.3s;
}
.install-btn:hover{
  color: var(--white);
  background-color: var(--main);
  box-shadow: 0.5rem 0.5rem 1rem rgb(26 115 232 / 25%);
}
.install-btn-text{
  font-weight: 500;
  line-height: normal;
}


.hero{
  padding-top: 160px;
  padding-bottom: 333px;
  background: 
  url(../images/bg-main.svg) calc(50% + 554px) no-repeat,
  url(../images/bg-main-right.svg) calc(50% + 805px) calc(50% + 300px) no-repeat,
  url(../images/bg-main-left.svg) -140px 515px no-repeat;
  background-repeat: no-repeat;
  background-size: 1230px, 325px, 350px;
}
.main__wrapper{
  width: 50%;
}
.main__title span{
  color: var(--main);
}
.main__title{
  display: flex;
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 64px;
  gap: 30px;
  margin-bottom: 10px;
  line-height: normal;
}
.main__title img{
  align-content: center;
}
.main__text{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  opacity: 0.7;
  max-width: 500px;
  line-height: 160%;
}
.main__wraper-link{
  display: flex;
  align-items: center;
}
.main__wraper-install{
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  background-color: var(--main);
  border-radius: 12px;
  padding: 15px 22px;
  transition: 0.3s;
}
.main__wraper-install:hover{
  background-color: #0073df;
  box-shadow: 0.5rem 0.5rem 1rem rgb(26 115 232 / 25%);
}
.install-text{
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.install-arrow{
  margin-left: 9px;
}
.aviable{
  margin-left: 30px;
  margin-right: 12px;
  opacity: 0.25;
  cursor: default;
}
.main__platform{
  display: flex;
  align-items: center;
  gap: 14px;
}
.main__platform-opera{
  margin: 7px;
  width: 20px;
  height: 20px;
  background-image: url(../images/opera.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
}
.main__platform-opera:hover{
  background-image: url(../images/opera-color.svg);
}
.main__platform-edge{
  margin: 7px;
  width: 20px;
  height: 20px;
  background-image: url(../images/edge.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
}
.main__platform-edge:hover{
  background-image: url(../images/edge-color.svg);
}
.main__platform-firefox{
  margin: 7px;
  width: 20px;
  height: 20px;
  background-image: url(../images/firefox.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
}
.main__platform-firefox:hover{
  background-image: url(../images/firefox-color.svg);
}
.features{
  background: linear-gradient(
    to bottom,
    #FFFFFF 0%,
    #FFFFFF 60%,
    #F7F8FA 60%,
    #F7F8FA 100%
  );
  padding-bottom: 138px;
}
.features__title{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 50px;
  line-height: normal;
  margin-bottom: 20px;
}
.features__text{
  font-size: 20px;
  line-height: 160%;
  max-width: 488px;
  margin-bottom: 62px;
}
.features__img{
  height: 170px;
  margin-left: 15px;
  margin-bottom: -20px;
}
.features__list{
  display: flex;
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 60px 60px 110px 0px rgba(27, 35, 61, 0.07);
}
.features__item{
  padding: 25px 60px 50px 60px;
  text-align: center;
  position: relative;
}
.features__item:not(:last-child)::after {
  content: '';
  background: var(--black);
  opacity: 0.25;
  border-radius: 1px;
  width: 1px;
  right: 0;
  top: 35%;
  height: 100px;
  position: absolute;
}
.features__item-title{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.screenshot{
  padding-bottom: 100px;
  background-color: #F7F8FA;
  position: relative;
}
.screen-recorder{
  padding-bottom: 150px;
  background-color: #F7F8FA;
  position: relative;
}
.how-it-works__title{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 50px;
  line-height: normal;
  margin-bottom: 60px;
}
.how-it-works__title-text{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 36px;
  line-height: normal;
  color: var(--main);
  margin-bottom: 50px;
}
.how-it-works__screenshot-list,
.how-it-works__recorder-list{
  display: flex;
}
.how-it-works__screenshot-item,
.how-it-works__recorder-item{
  text-align: center;
}
.how-it-works__screenshot-img,
.how-it-works__recorder-img{
  width: auto;
  height: 365px;
  margin-top: -33px;
  margin-bottom: -40px;
}
.how-it-works__screenshot-title,
.how-it-works__recorder-title{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 24px;
  margin-bottom: 16px;
}
.how-it-works__screenshot-text,
.how-it-works__recorder-text{
  padding-left: 89px;
  padding-right: 89px;
  opacity: 0.7;
}
.slider-dots{
  display: none;
}
.container-circle{
  position: relative;
  display: flex;
  height: 1049px;
  background-image: url(../images/circle-section/circle-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top -11px;
  padding-bottom: 76px;
}
.circle__items{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  flex-grow: 1;
  margin-bottom: 110px;
}
.circle__title{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 20px;
}
.circle__text{
  font-size: 20px;
  opacity: 0.7;
  margin-bottom: 30px;
  line-height: 160%;
}
.circle__link{
  max-width: 205px;
  margin: 0 auto;
}
.bg-logo{
  display: flex;
  position: absolute;
  width: 125px;
  height: 125px;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 20px 20px 100px 0px rgba(0, 0, 0, 0.05);
}
.edge img,
.finder img,
.firefox img,
.opera img,
.windows img{
  margin-top: 20px;
  margin-left: 20px;
}

.windows{
  left: calc(50% + -356px);
  top: calc(50% - 273px);
}
.aple{
  left: calc(50% + -413px);
  top: calc(50% - 20px);
}
.opera{
  left: calc(50% + -570px);
  top: calc(50% - 213px);
}
.finder{
  left: calc(50% + -643px);
  top: calc(50% - -43px);
}
.android{
  left: calc(50% + 225px);
  top: calc(50% - 290px);
}
.chrome{
  left: calc(50% + 272px);
  top: calc(50% - 80px);
}
.edge{
  left: calc(50% + 531px);
  top: calc(50% - 211px);
}
.firefox{
  left: calc(50% + 500px);
  top: calc(50% - -58px);
}
.footer{
  border-top: 1px solid rgba(199, 199, 199, 0.5);
}
.footer__wrapper{
  display: flex;
  padding-top: 60px;
  padding-bottom: 54px;
  flex-wrap: wrap;
}
.footer__logo{
  width: 20%;
  height: 36px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 22px;
}
.footer__logo-img{
  width: 36px;
  height: 36px;
}
.footer__logo-text{
  font-family: 'All-Round-Gothic-W01-Bold';
  font-size: 24px;
  font-weight: 700;
  line-height: 112%;
}
.footer__nav{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.footer__list{
  width: 27%;
}
.list-4{
  width: 120px;
}

.footer__title{
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.footer__link{
  opacity: 0.5;
  line-height: normal;
  margin-bottom: 16px;
}
.footer__link:hover{
  color: var(--main);
}
.footer__wrapper-bottom{
  border-top: 1px solid rgba(199, 199, 199, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.footer__wrapper-bottom p{
  font-size: 18px;
  line-height: normal;
  opacity: 0.2;
}












@media (max-width:1410px){
  .how-it-works__screenshot-img, 
  .how-it-works__recorder-img {
    height: 300px;
  } 
  .windows{
    left: calc(50% + -300px);
    top: calc(50% - 273px);
  }
  .aple{
    left: calc(50% + -355px);
    top: calc(50% - 20px);
  }
  .opera{
    left: calc(50% + -505px);
    top: calc(50% - 213px);
  }
  .finder{
    left: calc(50% + -535px);
    top: calc(50% - -109px);
  }
  .android{
    left: calc(50% + 176px);
    top: calc(50% - 290px);
  }
  .chrome{
    left: calc(50% + 187px);
    top: calc(50% - 80px);
  }
  .edge{
    left: calc(50% + 380px);
    top: calc(50% - 211px);
  }
  .firefox{
    left: calc(50% + 404px);
    top: calc(50% - -58px);
  }
  
}
@media (max-width:1260px) {
  .hero{
    padding-top: 60px;
    padding-bottom: 120px;
    background: 
    url(../images/bg-main.svg) calc(50% + 275px) calc(50% + 0px) no-repeat,
    url(../images/bg-main-right.svg) calc(50% + 445px) calc(50% + 160px) no-repeat,
    url(../images/bg-main-left.svg) -440px 515px no-repeat;
    background-size: 765px, 325px, 350px;
  }
  .main__title{
    font-size: 38px;
  }
  .main__title img{
    display: none;
  }
  .how-it-works__screenshot-list,
  .how-it-works__recorder-list{
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
		overflow-x: auto;
    scroll-behavior: smooth;
		-ms-overflow-style: none;
		scrollbar-width: none;
  }
  .how-it-works__screenshot-img, 
  .how-it-works__recorder-img{
    margin-top: -20px;
  }
}

@media (max-width:1070px){
  .main__text{
    font-size: 18px;
    max-width: 340px;
  }
  .aviable,
  .main__platform{
    display: none;
  }
  .features__title{
    margin-bottom: 10px;
  }
  .features__text{
    margin-bottom: 30px;
  }
  .features__list{
    flex-direction: column;
  }
  .features__item{
    padding: 16px 60px 16px 60px;
    text-align: start;
    display: flex;
    align-items: center;
  }
  .features__item:not(:last-child)::after{
    display: none;
  }
  .features__img{
    margin-left: 0;
    margin-bottom: 0;
  }
  .bg-logo{
    transform: scale(0.7);
  }
  .windows{
    left: calc(50% + -300px);
    top: calc(50% - 273px);
  }
  .aple{
    left: calc(50% + -281px);
    top: calc(50% - 65px);
  }
  .opera{
    left: calc(50% + -420px);
    top: calc(50% - 213px);
  }
  .finder{
    left: calc(50% + -417px);
    top: calc(50% - -22px);
  }
  .android{
    left: calc(50% + 176px);
    top: calc(50% - 290px);
  }
  .chrome{
    left: calc(50% + 169px);
    top: calc(50% - 114px);
  }
  .edge{
    left: calc(50% + 310px);
    top: calc(50% - 211px);
  }
  .firefox{
    left: calc(50% + 267px);
    top: calc(50% - -18px);
  }
}

@media (max-width:900px){
  .menu__list{
    margin-right: 60px;
  }
  .install-btn{
    display: none;
  }
  .hero{
    background: 
    url(../images/bg-main.svg) calc(50% + 275px) calc(50% - 35px) no-repeat,
    url(../images/bg-main-right.svg) calc(50% + 445px) calc(50% + 160px) no-repeat,
    url(../images/bg-main-left.svg) -440px 515px no-repeat;
    background-size: 650px, 325px, 350px;
  }
  .windows{
    left: calc(50% + -188px);
    top: calc(50% - 423px);
  }
  .aple{
    left: calc(50% + -281px);
    top: calc(50% - 65px);
  }
  .opera{
    left: calc(50% + -283px);
    top: calc(50% - 259px);
  }
  .finder{
    left: calc(50% + -370px);
    top: calc(50% - 163px);
  }
  .android{
    left: calc(50% + 50px);
    top: calc(50% - 399px);
  }
  .chrome{
    left: calc(50% + 106px);
    top: calc(50% - 274px);
  }
  .edge{
    left: calc(50% + 187px);
    top: calc(50% - 154px);
  }
  .firefox{
    left: calc(50% + 95px);
    top: calc(50% - 42px);
  }
}

@media (max-width:768px){
  .menu__list{
    gap: 60px;
  }
  .logo__img{
    height: 35px;
  }
  .main__text{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .hero {
    background: url(../images/bg-main.svg) calc(50% + 263px) calc(50% - 36px) no-repeat, 
    url(../images/bg-main-right.svg) calc(50% + 445px) calc(50% + 160px) no-repeat, 
    url(../images/bg-main-left.svg) -440px 515px no-repeat;
    background-size: 589px, 325px, 350px;
  }
  .features__item-title{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .features__item{
    padding: 0px 75px 0px 75px;
  }
  .circle__title{
    font-size: 30px;
  }
  .circle__text{
    font-size: 18px;
  }
  .footer__logo{
    width: 100%;
    margin-bottom: 44px;
  }
}
@media (max-width:705px){
  .menu{
    display: none;
  }
  .burger-menu{
    display: block;
  }
  .nav__modal{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
  .nav-link{
    font-family: 'All-Round-Gothic-W01-Bold';
    font-size: 22px;
  }
  .nav-link:hover{
    color: var(--main);
  }
  .modal{
    display: block;
    position: fixed;
    padding: 241px 114px;
    top: -900px;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s;
    background-color: var(--white);
    background-size: 210px;
    z-index: 5000;
  }
  .modal__logo{
    position: absolute;
    left: 16px;
    top: 20px;
  }
  .modal-close{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/close-modal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 26px;
    right: 16px;
  }
  .header__wrapper{
    padding-top: 20px;
  }
  .hero {
    background: url(../images/bg-main.svg) calc(50% + 25px) calc(50% - 225px) no-repeat, 
    url(../images/bg-main-right.svg) calc(50% + 445px) calc(50% + 160px) no-repeat, 
    url(../images/bg-main-left.svg) -440px 515px no-repeat;
    background-size: 589px, 325px, 350px;
  }
  .main__wrapper{
    margin: 400px auto 0;
    width: 100%;
    max-width: 343px;
  }
  .bg-logo{
    transform: scale(0.6);
  }
  .windows{
    left: calc(50% + -133px);
    top: calc(50% - 423px);
  }
  .aple{
    left: calc(50% + -215px);
    top: calc(50% - 65px);
  }
  .opera{
    left: calc(50% + -225px);
    top: calc(50% - 311px);
  }
  .finder{
    left: calc(50% + -297px);
    top: calc(50% - 163px);
  }
  .android{
    left: calc(50% + 31px);
    top: calc(50% - 399px);
  }
  .chrome{
    left: calc(50% + 100px);
    top: calc(50% - 278px);
  }
  .edge{
    left: calc(50% + 157px);
    top: calc(50% - 154px);
  }
  .firefox{
    left: calc(50% + 63px);
    top: calc(50% - 42px);
  }
}
@media (max-width:610px){
  .hero{
    padding-bottom: 100px;
  }
  .features__item{
    flex-direction: column;
    text-align: center;
    padding: 40px 20px 40px 20px;
  }
  .features__item:not(:last-child)::after{
    display: block;
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;
    height: 1px;
    width: 100px;
  }
  .footer__nav{
    flex-wrap: wrap;
    gap: 40px 0;
  }
  .footer__list{
    width: 50%;
  }
}
@media (max-width:540px){
  .hero {
    background: url(../images/bg-main.svg) calc(50% + 25px) calc(50% - 225px) no-repeat, 
    url(../images/bg-main-right.svg) calc(50% + 445px) calc(50% + 160px) no-repeat, 
    url(../images/bg-main-left.svg) -440px 515px no-repeat;
    background-size: 440px, 325px, 350px;
  }
  .main__wrapper {
    margin: 280px auto 0;
  }
  .screenshot,
  .screen-recorder{
    padding-bottom: 100px;
  }
  .how-it-works__screenshot-item,
  .how-it-works__recorder-item{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    scroll-snap-align: start;
  }
  .slider-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-dots a{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main);
    opacity: 0.7;
    transition: opacity ease 250ms;
    cursor: pointer;
  }
  .bg-logo{
    transform: scale(0.5);
  }
  .windows{
    left: calc(50% + -105px);
    top: calc(50% - 390px);
  }
  .aple{
    left: calc(50% + -215px);
    top: calc(50% - 65px);
  }
  .opera{
    left: calc(50% + -225px);
    top: calc(50% - 311px);
  }
  .finder{
    left: calc(50% + -234px);
    top: calc(50% - 193px);
  }
  .android{
    left: calc(50% + 31px);
    top: calc(50% - 399px);
  }
  .chrome{
    left: calc(50% + 80px);
    top: calc(50% - 278px);
  }
  .edge{
    left: calc(50% + 100px);
    top: calc(50% - 154px);
  }
  .firefox{
    left: calc(50% + 39px);
    top: calc(50% - 27px);
  }
  .circle__items{
    margin-bottom: 80px;
  }
}
@media (max-width:410px){
  .container-circle{
    overflow: hidden;
  }
}